body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  font-size: 14px;
  line-height: 21px;
}

a {
  color: #0079d3;
  text-decoration: none;
}

li,
p {
  font-family: Noto Sans, sans-serif;
  font-weight: 400;
}

button {
  cursor: pointer;
}
